body {
  background-color: grey;
  margin: 0;
}


.container {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}


.tail {
  fill: red;
}

.normal {
  fill: grey;
}

#user-controls {
  margin-top: 20px;
}
